@import "bootstrap-sprockets";
@import "bootstrap";
@import "milestones";
@import 'bootstrap-datetimepicker';
html, body { margin: 0; padding: 0; height: 100%; background: #25303b;}
.footer {
  position: absolute;
  margin-top: 5%;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.navbar-default .navbar-brand {
  color: white;
}

.navbar-default a:hover.navbar-brand {
  color: #02a2dd;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #02a2dd;
}
