<header class="masthead bg-primary text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="header-content mx-auto">

          <h1 class="mb-5">Save your milestones and share them with the world!</h1>
          <div class="badges">
            <a class="badge-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.bernovia.mylestone"><%= image_tag 'google-play-badge.svg' %></a>
            <a class="badge-link"><%= image_tag 'app-store-badge.svg', style: 'opacity: 0.1;' %></a>
          </div>
        </div>
      </div>
        <div class="col-md-6">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <%= image_tag 'app.jpg', class: 'img-fluid' %>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</header>